$page-bg-color: #f9feff;
$base-text-color: #03045e;
$base-border-color: #0077b6;

$base-button-color: #badfdb;
$hover-button-text-color: #ecfcff;
$hover-button-bg-color: #49beb7;

$widget-box-shadow: #03045e29 0px 3px 6px, #03045e3b 0px 3px 6px;
$button-box-shadow: #03045e1f 0px 1px 3px, #03045e3d 0px 1px 2px;

$h1-title-text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);

$secondary-fill-color: #03045e59;
