$page-bg-color: #f9feff;
$widget-bg-color: #fcf9ea;
$input-bg-color: #ffffff;
$base-text-color: #03045e;
$warning-text-color: #ff8a5c;
$base-border-color: #0077b6;

$base-button-color: #badfdb;
$hover-button-text-color: #ecfcff;
$hover-button-bg-color: #49beb7;

$widget-box-shadow: #03045e29 0px 3px 6px, #03045e3b 0px 3px 6px;
$button-box-shadow: #03045e1f 0px 1px 3px, #03045e3d 0px 1px 2px;
$note-box-shadow: #03045e1f 0px 1px 3px, #03045e3d 0px 1px 2px;
$active-menu-bar-btn: rgb(204, 219, 232) 3px 3px 6px 0px inset,
	rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

$h1-title-text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);

$secondary-fill-color: #03045e59;
